### Templates ###
scripts/
.venv/
.output*

### Maven ###
target/
pom.xml.releaseBackup
pom.xml.versionsBackup

### IntelliJ IDEA ###
.idea/
.junie/
*.iml

### Jextract CICD ###
jextract-22/
jextract.tar.gz

### Native libs ###
.native

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
