name: CD

env:
  JAVA_VERSION: '25-ea'
  JAVA_DISTRIBUTION: 'temurin'

on:
  workflow_dispatch:

jobs:

  release:
    permissions:
      contents: write
      actions: read
    runs-on: ubuntu-latest
    name: Release To Maven Central
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          cache: 'maven'
          server-id: central
          server-username: OSSRH_USERNAME
          server-password: OSSRH_PASSWORD
          gpg-private-key: ${{ secrets.OSSRH_GPG_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE
      - run: |
          git config --global user.email "bot@github.com"
          git config --global user.name "GitHub Actions"

      - name: Download Native Bundle
        uses: dawidd6/action-download-artifact@v11
        with:
          github_token: ${{github.token}}
          workflow: native.yaml
          name: 'native-bundle'
          path: ${{github.workspace}}/.native

      - name: Release With Maven
        run: |
          ./mvnw release:prepare release:perform \
          -Darguments="-Dnative.basedir=${{github.workspace}}/.native"
        env:
          GITHUB_TOKEN: ${{ github.token }}
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.OSSRH_GPG_PASSPHRASE }}
