name: CI

env:
  JAVA_VERSION: '25-ea'
  JAVA_DISTRIBUTION: 'temurin'

on:
  workflow_dispatch:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

permissions:
  actions: read
  contents: read
  id-token: write
  pages: write

jobs:

  build:
    runs-on: ubuntu-latest
    name: Package With Maven
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          cache: 'maven'

      - name: Download Native Bundle
        uses: dawidd6/action-download-artifact@v11
        with:
          github_token: ${{github.token}}
          workflow: native.yaml
          name: 'native-bundle'
          path: ${{github.workspace}}/.native

      - name: Compile with Maven
        run: ./mvnw package

  document:
    name: Living Documentation
    runs-on: ubuntu-latest
    needs: [ build ]
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          cache: 'maven'

      - run: ./mvnw verify
      - uses: actions/configure-pages@v5
      - uses: actions/upload-pages-artifact@v3
        with:
          path: 'target/cukedoctor'
      - id: deployment
        uses: actions/deploy-pages@v4
